<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentation</title>
</head>
<body>
    <ul>
        <li><a href="/api/anime">Anime</a></li>
        <li><a href="/api/asupan">Asupan</a></li>
        <li><a href="/api/kuis">Kuis</a></li>
        <li><a href="/api/photooxy">Photooxy</a></li>
        <li><a href="/api/search">Search</a></li>
        <li><a href="/api/textprome">TextProme</a></li>
        <li><a href="/api/wallpaper">Wallpaper</a></li>
    </ul>
</body>
</html>